[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deap = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
knapsack = "*"
tsp = "*"
python-tsp = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
